<footer class="footer">
  <section class="container">
    <section class="row">
      <div class="col-4">
        <h6 class="footer__sea">Sell with us</h6>
        <img src="/assets/img/yatch11.png" alt="yatch" class="image">
      </div>
      <div class="col-4">
        <h6 class="footer__sea">Mail Us</h6>
        <p class="box__walker">
          PO Box 2600
          <br class="hidden-xs">
          Halesite, NY 11743
        </p>
      </div>
      <div class="col-4"> 
        <h6 class="footer__sea">Contact Us</h6>
        <p class="box__walker">
          <a href="#">
            631-423-4988
            <br class="hidden-xs">
            admin@sailopo.com
          </a>
        </p>
      </div>
    </section>
  </section>
</footer>

<div class="container">
  <p class="long__page">
   Site Map Privacy Terms Search
   <br class="hidden-xs">
   Copy right © 2019 <strong>Offshore Passage Opportunities</strong>. All rights reserved.
   <br class="hidden-xs">
   <em>This site uses cookies to enhance your experience. If you object to the use of cookies, please exit this site.</em>
  </p>
</div>