<section class="section-features">
  <section class="container">
    <h5 class="shadow-box">How OPO Operates during the COVID-19 Storm</h5>
  </section>
</section>

<div class="container">
   <p class="page__indent">
    <strong>Dear OPO Members</strong> (and Skippers and Boat Owners in need of crew),
   </p>
   <p class="page__indent">
    For the past Few days I have been informing Boat Owners frantically looking for crew that <strong>I cannot issue OPO creq requests if the plan may quickly change.</strong> Everything is fluid Therefore, since the world is turned upside down so will OPO.
   </p>
   <p class="page__indent">
    If you would like to sail offshore (are healthy and can travel), let me know. We have one owner of a Swan 48 seeking to leave next week from USVI. We have an Amel owner
    <br class="hiddenx-xs">
    searching for crew from Martinique to Newport in June. I know we will have many more owners looking to move their boats out of the Hurricane belt or back home in the next
    <br class="hidden-xs">
    few weeks. I know we may disappoint many.
   </p>
   <p class="page__indent">
    OPO Members may have time due to temporary work hiatuses. Perhaps the solution is to self-quarantine at sea. If you think you may be sick or affected, please stay home and
    <br class="hidden-xs">
    recover. If you are healthy, think you can get a flight, and want to help a Boat Owner who desperately needs crew, please <a href="#" class="page__large">Contact me</a> and I will add you to our crew short list. We
    <br class="hidden-xs">
    want to serve OPO Members who wish to help Boat Owners in times of need. If an owner contacts me, I will put you in touch with them, but:
   </p>
   <p class="sector__lawn">
     <em>I cannot take any responsibility if things go haywire and change.</em>
   </p>
   <p class="sector__lawn">
     <em>I encoruage crew to ask if Boat Owners are willing to cover your travel if things fall through. This is simply supply and demand. Skippers and Owners do not want to leave </em>
     <br class="hidden-xs">
    <em>their boats in the caribbean. </em>
   </p>
   <p class="page__indent">
     I am checking email once daily and can make a list of potential crew to share with Boat Owners.
   </p>
   <p class="page__indent">
     I believe most people are staying <strong>close to home</strong> or <strong>self-quarantined at home.</strong> many have an older parent or children to care for.
   </p>
   <p class="page__indent">
    <em>Let's all hope and pray things go well soon</em>
   </p>
   <p class="page__indent">
     Best Regards,
     <br class="hidden-xs">
      Hank Schmitt
      <br class="hidden-xs">
      OPO
   </p>
</div>

<section class="section__jam">
   <section class="container">
      <h5 class="shadow-box">What's new with Offshore Passage Opportunities</h5>
   </section>
</section>

<div class="container">
   <h2 class="hank__action">Tips from the Pros: Watch Hank in Action</h2>
   <p class="long__copy">
     Hank Schmitt is profiled in the several episodes of a new series "<strong>Tips from the pros</strong>". Regardless how long you have been sailing, you will learn something new by 
     <br class="hidden-xs">
     watching Hank Share some of his techniques based upon decades of sailing.
   </p>
</div>