<section class="container">
   <section class="row">
     <div class="col-4">
        <div class="card">
          <div class="card__side card__side--front">
             <div class="card__picture card__picture--1">
                &nbsp;
             </div>
             <h4 class="card__heading">
              <span class="card__heading-span card__heading-span">
                Experience Crew Seeking Quality
                <br class="hidden-xs">
                Passage Opportunities
              </span>
             </h4>
             <div class="card__details">
               <p>
                 Your membership connects you with
                 <br class="hidden-xs">
                 trusted owners and skippers looking for
                 <br class="hidden-xs">
                 experienced crew. You sail for free since
                 <br class="hidden-xs">
                 you're helping to move a boat. Some
                 <br class="hidden-xs">
                 voyages require sea miles with solo,
                 <br class="hidden-xs">
                 night watch capabilities while others
                 <br class="hidden-xs">
                 simply need bodies to stand watch
               </p>
               <p>
                 New Cruises
               </p>
               <a href="#" class="btn-ghost">See all</a>
             </div>
          </div>
        </div>
     </div>
     <div class="col-4">
      <div class="card">
        <div class="card__side card__side--front">
           <div class="card__picture card__picture--2">
              &nbsp;
           </div>
           <h4 class="card__heading">
            <span class="card__heading-span card__heading-span">
              Sailors Seeking Additional Offshore 
              <br class="hidden-xs">
               Experience
            </span>
           </h4>
           <div class="card__details">
             <p>
              Our Swan Program was designed to help 
              <br class="hidden-xs">
              knowledgeable sailors gain the blue
              <br class="hidden-xs">
              water, offshore miles required to crew
              <br class="hidden-xs">
              on any boat.
             </p>
             <p>
               You pay to crew for a very experienced 
               <br class="hidden-xs">
               skipper on a proven boat who will push 
               <br class="hidden-xs">
               your comfort zone. You'll learn:
               <br class="hidden-xs">
               After one or two Swan voyages, you'll be ready
             </p>
             <a href="#" class="btn-ghost">Learn More</a>
           </div>
        </div>
      </div>
     </div>
     <div class="col-4">
      <div class="card">
        <div class="card__side card__side--front">
           <div class="card__picture card__picture--3">
              &nbsp;
           </div>
           <h4 class="card__heading">
            <span class="card__heading-span card__heading-span">
              Skippers Seeking Experienced Offshore 
              <br class="hidden-xs">
               Crew
            </span>
           </h4>
           <div class="card__details">
             <p>
              We help boat owners and delivery 
              <br class="hidden-xs">
              skippers find qualified, experienced 
              <br class="hidden-xs">
              crew. Some skippers look for crew in
              <br class="hidden-xs">
              advance while others need crew on short
              <br class="hidden-xs">
              notice. Once you  "Request Crew" you'll
              <br class="hidden-xs">
              know within 24 to 48 hours if we can
              <br class="hidden-xs">
              help.
             </p>
             <p>
               This service is free to boat owners
             </p>
             <a href="#" class="btn-ghost">Request Crew</a>
           </div>
        </div>
      </div>
     </div>
   </section>
</section>

<div class="container">
  <p class="long__copy">
     Delivery skippers and private boat owners quickly realize their friends and family have jobs and cannot always sail with them. So they call us looking for crew. We collect their 
     <br class="hidden-xs">
     information and pass it on to our members to help them get abroad. Since you are helping to deliver to a boat, you get to go sailing for free. Many are repeat skippers or members 
     <br class="hidden-xs">
     so we pre-qualify a majority of the opportunities for you.
  </p>
</div>
