<section class="section-boat">
   <h2  class="shadow-box">Recent Boat Owner and Crew testimonials</h2>
</section>

<div class="container">
    <h3 class="page__offset">Boat Owner</h3>
</div>

<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid p-3">
     <div class="container">
         <td valign="top">
           <img src="/assets/img/quote.png">
         </td>
         <td valign="top">
           <b class="break__swamp">
             Almost immediately after you sending out my crew request, I received 6 qualified responses. Through Christmas Eve and day, I have received an additional 4 responses. In a 
             word: Wow... This is a terrific service that you are providing. &nbsp;&nbsp;&nbsp;
           </b>
         </td>
         <td valign="bottom">
            <img src="/assets/img/quote.png">
         </td>
     </div>
  </div>
</div>

<div class="container mt-5">
   <div class="jumbotron jumbotron-fluid p-3" style="margin-left: 10rem;">
      <div class="container">
         <td valign="top">
          <img src="/assets/img/quote.png">
         </td>
         <td valign="top">
            <b class="break__swamp">
               The response for crew has been fa-nominal !!! I just wanted to say "thank you" and I am sure we will have crew thanks to you. Keep in touch &nbsp;&nbsp;&nbsp;
            </b> 
         </td>
         <td valign="bottom">
           <img src="/assets/img/quote.png">
         </td>
      </div>
   </div>
</div>

<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid p-3">
     <div class="container">
       <td valign="top">
         <img src="/assets/img/quote.png">
       </td>
       <td valign="top">
          <b class="break__swamp">
           Thanks a ton for your help. I recieved a lot of responses from very capable seamen and have filled out my crew. You run a very 
           good organization and I have given you contact info to a couple of broker friends of mine. Greate Job! &nbsp;&nbsp;&nbsp;
          </b>
       </td>
       <td valign="bottom">
          <img src="/assets/img/quote.png">
       </td>
     </div>
  </div>
</div>


<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid p-3" style="margin-left: 10rem;">
     <div class="container">
        <td valign="top">
         <img src="/assets/img/quote.png">
        </td>
        <td valign="top">
           <b class="break__swamp">
             The OPO announcement we put out earlier this year produced several very well defined crew for my voyage from Annapolis to 
             New Zealand. I've filled my crew needs from Annapolis to Galapagos and have one crew for the remainder of the passage to New 
             Zealand, but I would like one or two more for Galapagos to New Zealand.
           </b> 
        </td>
        <td valign="bottom">
          <img src="/assets/img/quote.png">
        </td>
     </div>
  </div>
</div>

<div class="container">
   <h3 class="page__offset">Crew</h3>
</div>


<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid p-3">
     <div class="container">
       <td valign="top">
         <img src="/assets/img/quote.png">
       </td>
       <td valign="top">
          <b class="break__swamp">
           Hi Hank, First of all, I would really like to thank you for your kindness. I have been emailing and calling every contact I could find 
           since Novemeber, and no one has come close to being so genuine and helpful as you have been in just this one email. It really 
           means a lot to me that you would be willing to put in your own time, energy, offerings into helping me pursue this journey. I 
           think it is so cool that you were able to participate in such an intense level of competitive sailing at the age of just 18 - that must 
           have been such a great experience.
          </b>
       </td>
       <td valign="bottom">
          <img src="/assets/img/quote.png">
       </td>
     </div>
  </div>
</div>

<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid p-3" style="margin-left: 10rem;">
     <div class="container">
        <td valign="top">
         <img src="/assets/img/quote.png">
        </td>
        <td valign="top">
           <b class="break__swamp">
             Hi Hank! Just saying "Ahoy" . Your OPO has changed my life, I showed off my sailing passage list to a friend the other day and he 
             was impressed, I was too!
           </b> 
        </td>
        <td valign="bottom">
          <img src="/assets/img/quote.png">
        </td>
     </div>
  </div>
</div>

<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid p-3">
     <div class="container">
        <td valign="top">
         <img src="/assets/img/quote.png">
        </td>
        <td valign="top">
           <b class="break__swamp">
            Thank you for all you do to create sailing opportunities for others and to create such a creative community. When I first called you
            I could have never imagined what OPO would mean to me. I have lifelong friends and lifelong memories. You make everyone feel
            welcome and valueable. Thank you! I appreciate you!!
           </b> 
        </td>
        <td valign="bottom">
          <img src="/assets/img/quote.png">
        </td>
     </div>
  </div>
</div>

<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid p-3" style="margin-left: 10rem;">
     <div class="container">
        <td valign="top">
         <img src="/assets/img/quote.png">
        </td>
        <td valign="top">
           <b class="break__swamp">
             So nice to get to see you again -- and to get a look at Avocation -- in Newport and in Bermuda. You and OPO are responsible for 
             me racing with Marcus, and I'm grateful. In the last 8 years or so I've gone from a pretty novice cruiser to steering a race boat at 
             night through 30 knot squalls and big seas!
           </b> 
        </td>
        <td valign="bottom">
          <img src="/assets/img/quote.png">
        </td>
     </div>
  </div>
</div>

<div class="container">
   <h3 class="page__offset">Swan Program</h3>
</div>

<div class="container mt-5">
  <div class="jumbotron jumbotron-fluid p-3">
     <div class="container">
        <td valign="top">
         <img src="/assets/img/quote.png">
        </td>
        <td valign="top">
           <b class="break__swamp">
            Just wanted to let you know NARC 2018 was a great experience. To me, the combination of Jonathan and the Swan 60 
            represented the absolute best in offshore passage making. I was very fortunate to be part of the adventure. Thanks for the 
            opportunity, you and Jon have one big thumbs-up from me. I look forward to a long asociation with OPO.
           </b> 
        </td>
        <td valign="bottom">
          <img src="/assets/img/quote.png">
        </td>
     </div>
  </div>
</div>

<div class="container">
  <h3 class="page__offset">More Testimonials</h3>
  <p class="long__copy">
    To view additional testimonials, please click <a href="#">here</a>.
  </p>
</div>
