<nav class="navbar navbar-expand-lg">
   <div class="container">
     <div class="collpase navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav text-uppercase ml-auto">
         <li class="navbar-item dropdown">
           <a class="nav-link dropdown-toggle item__nav" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">Home</a>
           <div class="dropdown-menu" aria-labelledby="navDropdown">
             <a class="dropdown-item  item__down" href="#">Membership Information</a>
             <a class="dropdown-item  item__down" href="#">OPO History</a>
             <a class="dropdown-item  item__down" href="#">OPO Friends</a>
           </div>
         </li>
         <li class="navbar-item dropdown">
          <a class="nav-link dropdown-toggle item__nav" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">Membership Board</a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            <a class="dropdown-item item__down" href="#">Sailing Opportunities</a>
            <a class="dropdown-item item__down" href="#">Monthly Notices</a>
            <a class="dropdown-item item__down" href="#">Member Search</a>
            <a class="dropdown-item item__down" href="#">Community Images</a>
          </div>
        </li>
        <li class="navbar-item dropdown">
          <a class="nav-link dropdown-toggle item__nav" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">Log In</a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            <a class="dropdown-item item__down" href="#">View My Account</a>
            <a class="dropdown-item item__down" href="#">Update Profile</a>
            <a class="dropdown-item item__down" href="#">Manage My Images</a>
            <a class="dropdown-item item__down" href="#">Retrieve Password</a>
            <a class="dropdown-item item__down" href="#">Change Password</a>
            <a class="dropdown-item item__down" href="#">Create New Account</a>
            <a class="dropdown-item item__down" href="#">Log Out</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link item__nav"  href="#">Store</a></li>
        <li class="nav-item"><a class="nav-link item__nav" href="#">Crew Request</a></li>
        <li class="navbar-item dropdown">
          <a class="nav-link dropdown-toggle item__nav" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">Domnica</a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            <a class="dropdown-item item__down" href="#">Yachtie Appreciation Week</a>
            <a class="dropdown-item item__down" href="#">PAYS</a>
          </div>
        </li>
        <li class="navbar-item dropdown">
          <a class="nav-link dropdown-toggle item__nav" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">Swan Program</a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            <a class="dropdown-item item__down" href="#">Atlantic Circle</a>
            <a class="dropdown-item item__down" href="#">Carribean</a>
          </div>
        </li>
        <li class="navbar-item dropdown">
          <a class="nav-link dropdown-toggle item__nav" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">NARC Rally</a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            <a class="dropdown-item item__down" href="#">NARC Rally Overview</a>
            <a class="dropdown-item item__down" href="#">Rules and Regulations</a>
          </div>
        </li>
        <li class="navbar-item dropdown">
          <a class="nav-link dropdown-toggle item__nav" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">Essentials</a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            <a class="dropdown-item item__down" href="#">Boat Checklist</a>
            <a class="dropdown-item item__down" href="#">Boat Owner Survey</a>
            <a class="dropdown-item item__down" href="#">Crew Agreement</a>
            <a class="dropdown-item item__down" href="#">Crew Request</a>
            <a class="dropdown-item item__down" href="#">Crew Survey</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link item__nav" href="#">News</a></li>
        <li class="navbar-item dropdown">
          <a class="nav-link dropdown-toggle item__nav" href="#" id="navDropdown" role="button" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            <a class="dropdown-item item__down" href="#">Press</a>
            <a class="dropdown-item item__down" href="#">Job Opportunities</a>
            <a class="dropdown-item item__down" href="#">OPO Mission</a>
            <a class="dropdown-item item__down" href="#">OPO Code of Conduct</a>
            <a class="dropdown-item item__down" href="#">OPO References</a>
            <a class="dropdown-item item__down" href="#">Testimonials</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link item__nav" href="#">Contact</a></li>
       </ul>
     </div>
   </div>
</nav>
