<section class="container">
   <section class="row">
      <div class="col-4">
         <div class="video">
           <h6 class="video__tube">Pro Tips #1</h6>
           <p class="video__crew">
            <em>Crew on an offshore Sailboat Before you Sail Away!</em>
            <br class="hidden-xs">
            <em>(with Patrick Childress)</em>
           </p>
           <div class="embed-responsive embed-responsive-16by9">
             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vVHXcKdGAEk" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-in" allowfullscreen></iframe>
           </div>
         </div>
      </div>
      <div class="col-4">
        <div class="video">
          <h6 class="video__tube">Pro Tips #2</h6>
          <p class="video__crew">
             <em>Peefing off a boat ... How to Use a Sailboat Toilet / Head </em>
             <br class="hidden-xs">
             (with Patrick childress)
          </p>
          <div class="embed-responsive embed-responsive-16by9">
             <iframe class="embed-resposive-item" src="https://www.youtube.com/embed/7RIVINI07D8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-in" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="video">
           <h6 class="video__tube">Pro Tips #3</h6>
           <p class="video__crew">
              <em>What if you Hit a Whale and Whale Strikes Back!</em>
              <br class="hidden-xs">
              (with Patrick Childress)
           </p>
           <div class="embed-responsive embed-responsive-16by9">
               <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LviPsmE2iwo" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-in" allowfullscreen></iframe>
           </div>
        </div>
      </div>
   </section>
</section>

<section class="container">
   <section class="row">
      <div class="col-6">
        <div class="video">
          <h6 class="video__tube">Pro Tips #4</h6>
          <p class="video__crew">
            <em>How to Clean the Bottom of a Sailboat Underwater!</em>
            <br class="hidden-xs">
            (with Patrick Childress)
          </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/4iTec0hV3ZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media;  gryoscope; picture-in-in" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-6">
         <div class="video">
            <h6 class="video__tube">Pro Tips #5</h6>
            <p class="video__crew">
              <em>Offshore Passage Preparation: Nothing Should Fall Over or Run Out!</em>
              <br class="hidden-xs">
              (with Patrick Childress)
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                 <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mOfOGBKrM0I" framborder="0" allow="accelerator; autoplay; encrypted-media; gyroscope; picture-in-in" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </section>
</section>

<div class="container">
   <p class="index__truth">
      Please <a href="#">contact us</a> Hank with any comments and feedbacks
   </p>
</div>

<div class="container">
  <h2 class="hank__action">NARC 2020 Dates Announced</h2>
  <p class="long__copy">
    Each year the traditional end of the hurricane season is November 1st and Election Day is always 1st Tuesday in November. And we been offshore every election year
    <br class="hidden-xs">
    since 2000. Sometimes on our way to Bermuda, sometimes right after we depart
  </p>
  <p class="long__copy">
    In 2020, waiting until after Election Day would mean moving the NARC departure date from New departure date from Newprot too late. So this year we will depart on <strong>Tuesday Oct 27th 2020.</strong> This date
    <br class="hidden-xs">
    still allows for a weather delay and time to reach Bermuda by election day results on Tuesday night, November 3rd. The fleet will depart Bermuda <strong>no earlier than Wednesday</strong>
    <br class="hidden-xs">
    <strong>November 4th</strong> and arrive in <strong>St. Maarten 5 or 6 days later.</strong> So now you have the dates for the start of the NARC Rally and everyone can schedule accordingly.
  </p>
  <p class="long__copy">
    <strong>2020 NARC Schedule Summary</strong>
  </p>
  <p class="long__copy">
    Depart from Newport: <strong>Tuesday, October 27, 2020</strong>
  </p>
  <p class="long__copy">
    Arrive in Bermuda: <strong>Prior to Tuesday, November 3, 2020</strong>
  </p>
  <p class="long__copy">
     Depart from Bermuda: <strong>No Earlier than Wednesday, November 4, 2020</strong>
  </p>
  <p class="long__copy">
    Arrive in St.Maarten: <strong>November 9 or 10, 2020</strong>
  </p>
</div>


<section class="section-passage">
   <section class="container">
       <h5 class="sail__line">Your first offshore sailing experience</h5>
   </section>
</section>

<div class="container">
   <h2 class="page__offset">Swan Program: A First Experience with Offshore Sailing</h2>
   <p class="long__copy">
    If you've ever considering deepwater sailing but were not sure how to jump start your sailing career, our Program is for you.
   </p>
   <p class="long__copy">
     Our Swan Program was specifically designed to introduce people to the world of offshore sailing by providing <em>hands-on crew experience</em> under the <em>watchful eye of an</em>
     <br class="hidden-xs">
     <em>professional skipper</em> on a  <em>proven boat.</em> During your tenure onboard, you'll learn to keep watch, make log entries, navigate, use the radio, steer the boat and perform tasks that
     <br class="hidden-xs">
     are essentials to safe offshore sailing. The Swan Program offers a fixed for everything you'll need aboard--you just pay for your travel to and from the boat. The Swan
     <br class="hidden-xs">
     Program sails south from New England to Bermuda and the Carribean in the fall, and north from Bermuda and the Carribean to New England in the Spring. Summer trips are
     <br class="hidden-xs">
     also available.
   </p>
   <p class="long__copy">
     After your first Swan Program experience, <em>you'll have the skills to sail on other boats.</em> Please view the video below to learn more.
   </p>
</div>

 <section class="container">
   <div class="video">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/eXd4Qqyuo8o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-left: 100px;"></iframe>
      </div>
   </div>
 </section>

 <div class="container">
  <h2 class="page__offset">2020 Swan Program Calendar Summary</h2>
  <p class="long__copy">
    We have opportunities to increase your blue water sailing experience in <a href="#">Atlantic</a> and the <a href="#">Carribean</a>. Click either region to see the program overview, timing, ports and prices.
  </p>
  <p class="long__copy"><a href="#">Read more ...</a></p>
</div>


